html{
    font-size: 20px;
    background-color: #272a2e;
}

html, body{
    height: 100%;
    overflow: hidden;
}

.flex-container{
    display: flex;
    justify-content: center;
}

#mainCanvas{
    width: 60vw;
    height: 45vw;
    margin-top: 2vh;
    border: 3px solid white;
    background-color: #30353b;
}
